body {
  background-color: #FFFFFF;
}

#legend {
  float: left;
}
.jumbotron { max-height: 200px;
padding-top: 10px; }

path.onefortytwo {
 fill: none;
  opacity: 0.50;
  stroke: #FFB20E;
  stroke-width: 3.0px;
}

path.onefortythree {
     fill: none;
  opacity: 0.50;
  stroke: #3548FF;
  stroke-width: 3.0px;
}

path.onefortythreex {
     fill: none;
  opacity: 0.50;
  stroke: #2AB248;
  stroke-width: 3.0px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  color: #474647;
  padding: 12px;
  background: rgba(151, 151, 160, 1);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(151, 151, 160, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip-info {
  color: #7E1F8F;
}

circle {
  fill: #49464A;
  opacity: .70;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  pointer-events: none;
}
